@mixin media-query {
  @media (min-width: 1920px) {
    width: 1872px;
  }
  @media (min-width: 1200px) and (max-width: 1919px) {
    width: 1152px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    width: 944px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 720px;
  }
}
